header{
background-color: #121312;
padding: 25px 0;
}

nav li{ 
    display: inline; 
    margin: 0 0 0 15px;
}   /*estara  em formato de linha*/

nav a{
text-transform: uppercase;
color: black;
font-weight: bold;
font-size: 22px;
text-decoration: none;

}
.caixa{
    position: relative;
    width: 940px;
    height: 140px;
    margin: 0 auto;
}
h1{
    font-size: 50px;
}
h1 img{
    width: 150px;
    left: 100px;
}