h1{
    color: brown;
    font-size: 50px;
    text-align: center;
}
h2{
    color: rgb(189, 107, 107);
    text-align: center;
}
body{
   background-image: url("https://i.pinimg.com/originals/d1/57/bb/d157bb17b92ed189dfa61d87fb02290c.gif")
   background-size: 250px;
}
 
img{
    width: 250px            
}
footer {
    background-color: rgb(202, 185, 33);
}
.Imagem {
    text-align: center;
    background-color: rgba(181, 184, 32, 0.884);
    width:400px;
    margin:auto;
    border-style: groove;
    border-radius: 45px;
    margin-bottom: 50px;
    border-color: brown;

}