h1{
    color: #1f1f1f;
    font-size: 50px;
    text-align: center;
    background-color: #f8f8f6c2;
}
h2{
    color: #1f1f1f;
    font-size: 50px;
    text-align: center;
}
body{
   background-image: url("file:///home/spyker/Downloads/ChatGPT%20Image%2028%20de%20jul.%20de%202026,%2009_38_32.png");
   color: #c62828;
   background-size: cover;
}
 
img{
    width: 250px            
}
footer {
    background-color: rgba(88, 88, 88, 0.568);
    text-align: center;
    font-size: 19px;
    color: rgb(255, 255, 255);
}
.Imagem {
    text-align: center;
    background-color: rgba(181, 184, 32, 0.884);
    width:400px;
    margin:auto;
    border-style: groove;
    border-radius: 45px;
    margin-bottom: 50px;
    border-color: brown;
}