
h2{
    color: #1f1f1f;
    font-size: 50px;
    text-align: center;
}
body{
   background-image: url("file:///home/spyker/Downloads/ChatGPT%20Image%2028%20de%20jul.%20de%202026,%2009_38_32.png");
   color: #141414;
   background-size: cover;
}
footer {
    background-color: rgba(88, 88, 88, 0.568);
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
}